fieldset {
    display: grid;
    border-width: 1px;
    border-style: ridge;
    border-color: var(--primary-color);
    border-image: initial;
}

main .contact-title {
    text-align: center;
    margin-bottom: 20px;
}

main .contact-title h1 {
    font-size: 2.5em;
    color: var(--primary-color);
}

main .contact-title h1 span {
    color: var(--darkslategray);
}

main .contact-description {
    text-align: center;
    color: var(--darkgray);
    margin-bottom: 40px;
}

main .contact-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 40px;
}

main .contact-form select,
main .contact-form input:not([type="radio"],[type="checkbox"]),
main .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid  var(--darkgray);
    border-radius: 4px;
    box-sizing: border-box;

}
main .contact-form textarea {
    height: 150px;
    resize: vertical;
}
main #genderType1, #genderType2 {
    display: inline;
    margin: 2px;
    padding: 12px;
    margin-bottom: 20px;
}
main .contact-form button.contact-send {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
main .contact-form button:hover {
    background-color: var(--secondary-color);
}
main .contact-form button.contact-reset {
    width: 100%;
    padding: 15px;
    background-color: var(--darkgray);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
main .contact-form button.contact-reset:hover {
    background-color: var(--darkslategray);
}
main .contact-details h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}
main .contact-details p {
    color: var(--darkgray);
    margin-bottom: 30px;
}
 
/* contact info container */
main .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; 
    margin-top: 2rem;
}
main .contact-info > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px var(--black-rbga);
}
main .contact-info .material-symbols-outlined {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
main .contact-info > div span {
    display: flex;
    flex-direction: column; 
    gap: 0.25rem;
}
main .contact-info span:not(.material-symbols-outlined) {
    color: #64748b;
    font-size: 1rem;
    word-break: break-word;
}