main .breadcrumb {
	padding: 15px 20px;
}

main .breadcrumb a {
	color: var(--gray);
	text-decoration: none;
}

main .breadcrumb span {
	margin: 0 10px;
	color: var(--darkgray);
}


/* article styles */
.product-contents { 
    display: grid;
    grid-template-columns: 2fr auto;
    margin: 0 auto;
    padding: 20px;
}
article .product-image {
	text-align: center;
}
article .product-image img {
	max-width: 100%;
	height: auto;
}

/* product info */
article .product-info {
	padding-right: 20px;
}
article .product-info h1 {
	font-size: 1.8em;
	margin-bottom: 20px;
}
article .product-info .product-code {
	margin-bottom: 10px;
	color: var(--lightgray);
}
article .product-info .product-brand {
	margin-bottom: 20px;
}
article .product-info .product-brand strong {
	margin-right: 10px;
}
article .product-info .price {
	font-size: 2em;
	margin-bottom: 20px;
}
article .product-info .oldprice {
	text-decoration: line-through;
	color: var(--darkgray);
	font-size: 1rem;
}
article .product-info .quantity {
	margin-bottom: 20px;
}
article .product-info .quantity label {
	display: block;
	margin-bottom: 5px;
}
article .product-info .quantity .quantity-controls {
	display: flex;
	align-items: center;
	gap: 10px;
}
article .product-info .quantity input {
	width: 60px;
	padding: 8px;
	text-align: center;
	border: 1px solid var(--darkgray);
}
article .product-info .quantity button {
	padding: 8px 12px;
	background: var(--lightgray);
	border: 1px solid var(--darkgray);
	cursor: pointer;
}
article .product-info .add-to-basket {
	width: 100%;
	padding: 15px;
	background-color: var(--primary-color);
	color: var(--white);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 20px;
}
article .product-info .add-to-basket:hover {
	background-color: var(--secondary-color);
}

article .product-info .social-share {
    justify-content: space-between;
    margin-top: 20px;
}
article .rating span {
    margin: 10px 0;
}
article .product-info .material-symbols-outlined {
    font-size: 20px;
}
article .product-info .material-symbols-outlined.filled {
    color: var(--gold);
}
article .product-info .material-symbols-outlined.empty {
    color: var(--lightgray);
}

article .tabs {
	grid-column: 1 / span 2;
}

article .tab-buttons {
	display: flex;
	gap: 2px;
	margin-bottom: 20px;
}

article .tab-button {
	background: var(--lightgray);
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

article .tab-button.active {
	background: var(--primary-color);
	color: var(--white);
}

article .technical-specs table {
	width: 100%;
	border-collapse: collapse;
}

article .technical-specs td {
	padding: 8px;
	border: 1px solid var(--darkgray);
}

article .technical-specs tr:nth-child(even) {
	background-color: var(--lightgray);
}
