/* define CSS custom properties */
:root {
    --white: white;
    --black: black;
    --black-rbga: rgba(44, 62, 80, 0.1); 
    --gray: gray;
    --darkgray: darkgray;
    --darkslategray: darkslategray;
    --light-gray: lightgray;
    --light-gray-rgb: rgb(221 221 221 / 85%);
    --brown: brown;
    --gold: gold;
    --green: green;
    --primary-color: #2c3e50;
    --secondary-color: #3E5871;
}
/* default body styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* default header styles */
header { 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    align-items: center;
}
header figure {
    display: flex;
    align-items: center;
}
header figure img {
    height: 40px;
    margin-right: 10px;
}
header .company-info {
    display: flex;
    margin-top: 30px;
}
header .company-info div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 20px;
}
header .company-info span {
    color: var(--black);
}
header .company-info .material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

/* default nav styles */
nav {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--white);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 16px;
    list-style: none;
    display: inline;
    color: var(--white);
    font-size: 24px;
}
nav ul li span { 
    margin: 0 10px; 
}
nav ul li a {
    color: var(--white);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
nav ul li a:hover {
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}
nav ul li .select {
    color: var(--light-gray);
    cursor: pointer;
    transition: color 0.3s ease;
}

/* default figure styles */
figure {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

/* default main styles */
main {
    margin: 0 auto;
    padding: 20px;
}

/* default footer styles */
footer {
    background-color: var(--white);
	color: var(--black);
}
footer .upper {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px 0;
}
footer .upper-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
footer .upper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer .upper-content h3 {
    margin: 1px;
}
footer .upper-content p {
    color: var(--light-gray);
    font-size: 12px;
    margin: 0px;
}
footer .upper-content span {
    color: var(--white);
    font-size: 42px;
}
footer .info {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
footer .info h4 {
    margin-top: 0;
}
footer .info p {
    text-decoration: none;
}
footer .info a {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}
footer .info a:hover {
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}
footer .social-network {
    text-align: center;
    padding: 20px; 
}
footer .social-network img {
    margin: 0 10px;
}
footer .copyright {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
}
footer .copyright span {
    color: var(--white);
    font-size: 1rem;
}